<% if current_user.present? && current_user.is_admin %>
  <%= link_to 'Manage Users', '/admin', class: 'btn btn-secondary mb-3' %>
<% end %>
<div class="card">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span>Projects</span>
      <span></span>
      <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
    </h2>
    <%= render ProjectOverviewComponent.with_collection(@projects) %>
  </div>
</div>
